<div class="container">
    <header class="header">
        <nav class="nav">
            <span class="logo"><strong>StatsApp</strong></span>
            <span class="login"><a role="button" routerLink="/login">Iniciar sesión</a></span>
        </nav>
    </header>
    <section class="hero">
        <p>            
            <strong class="highlight">Registra</strong> estadísticas de basketball en tiempo real.
        </p> 
        <p>
            Has un seguimiento eficiente de <strong class="highlight">estadísticas</strong> individuales y de equipo.
        </p>
    </section>
</div>
