.Container{
    display: flex;    
    flex-direction: column;
    background-color: #23242a;    
    width: 100%;
    min-height: 100%;    
    max-width: 100vw;     
    & .Equipo_Container{        
        margin-top: 100px;
        display: flex;              
        flex: 30%;        
        padding: 20px;
        justify-content: center;
        flex-wrap: wrap;
        
        & .Equipo{
            
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;           
            background-color:#0F3460;
            color: #fff;
            border-radius: 15px;
            max-width: 190px;
            width: 190px;
            max-height: 300px;
            padding: 20px;
            margin: 10px;
            cursor: pointer;
            &:hover{
                opacity: 0.6;
            }

            &_h3{
                padding: 10px;
            }
            &_p{
                padding: 10px;
            }
        }
    }
    
}
.Equipo_img_container_img{
    width: auto;
    height: 150px;
    max-width: 190px;
}
